.main{
	height: 415px;
	width: 100%;
}

.slideshow {
	width: 100%;
	height: 415px;
	background-color: white;
}

.image {
	width: 100%;
	height: 100%;
	object-fit: cover;
	composes: bigRadius from "../../style/index.scss";
	z-index: -1;
}

.control{
	display: flex;
	justify-content: space-between;
	width: 100%;
	position: relative;
	top: -19vh;
	button{
		margin: 0 10px;
		background-color: transparent;
	}
}

.number{
	position: relative;
	top: -3vh;
	left : 48vh;
	color: white;
	font-size: 18px;
}

@media screen and (max-width: 390px) {
	.main {
		height: 255px;
	}
	.slideshow {
		height: 255px;
	}
	.image {
		border-radius: 10px;
	}
	.control{
		top: -16vh;
		img{
			height: 20px;
		}
	}
	.number{
		display: none;
	}
}
