@mixin horizontal-flex {
  display: flex;
  justify-content: space-between;
}

.container {
  composes: centerContainer from "../../style/index.scss";
  display: flex;
  flex-direction: column;
}
.cover{
  composes: allCenter from "../../style/index.scss";
}
.coverImg {
  composes: bigRadius from "../../style/index.scss";
  object-fit: cover;
  height: 415px;
}

.titles {
  @include horizontal-flex();
  .picture {
    display: flex;
    align-items: center;
    flex-direction: row;
    .name {
      width: 94px;
      text-align: right;
      margin-right: 10px;
    }
    .picture {
      border-radius: 50%;
      height: 64px;
    }
  }
}

.rating {
  @include horizontal-flex();
}

.allTag{
  composes: allCenter from "../../style/index.scss";
  justify-content: space-around;
}
 .description {
 }