.main {
  margin-top: 31px;
}
.title {
  composes: primaryBackground from "../../style/index.scss";
  composes: allCenter from "../../style/index.scss";
  composes: smallRadius from "../../style/index.scss";
  justify-content: space-between;
  height: 47px;
  span{
    padding-left: 10px;
  }
}
.arrow{
  padding-right: 10px;
}
.content {
  display: flex;
  flex-direction: column;
  composes: secondaryBackground from "../../style/index.scss";
  height: 185px;
  composes: smallRadius from "../../style/index.scss";
  p{
    font-size: medium;
    padding: 10px;
  }
}
