.main {
//  flex-direction: column;
  height: 340px;
//  width: calc(33% - 40px);
  margin-right: 50px;
  margin-bottom: 50px;
}
// .overlay{
//   z-index: 1;
//   background: linear-gradient(180deg, rgba(255, 255, 255, 0.03) 50%,rgba(0, 0, 0, 0.9) 100%);
//   composes: bigRadius from "../../style/index.scss";
// }
.cover {
  object-fit: cover;
  composes: smallRadius from "../../style/index.scss";
  height: 340px;
  width: 340px;
}
.title {
  color: white;
  position: relative;
  top: -60px;
  right: -20px;
  width: 300px;
}

@media screen and (max-width: 350px) {
  
  .main {
    flex-direction: column;
    width: 335px;
    margin : 10px;
    .cover {
      height: 255px;
      width: 335px;
    }
  }
  
}