//Font 
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

//Variables
$font: Montserrat;
$primary:#FF6060;
$secondary:#F6F6F6;


//Style
body {
  margin: 0;
  font-family: $font;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $primary;
}
a {
  color: $primary;
  text-decoration: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.primaryBackground {
  background-color: $primary;
  color: white;
}

.secondaryBackground {
  background-color: $secondary;
}
.centerContainer{
  margin: auto 100px;
}
.allCenter{
  display: flex;
  justify-content: center;
  align-items: center;
}

.smallRadius{
  border-radius: 10px;
}

.bigRadius{
  border-radius: 25px;
}