.main {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-around;
  min-height: calc(100vh - 333px);
}

.title {
  font-weight: bold;
  font-size: 288px;
  margin-top: 169px;
  margin-bottom: 66px;
}

p {
  font-size: 36px;
}

.link {
  text-decoration: underline;
}


@media screen and (max-width: 390px) {
  .main {
    justify-content: center;
  }
  .title {
    font-weight: bold;
    font-size: 96px;
    margin-bottom: 0;
    p {
      margin-bottom: 133px;
      font-size: 18px;
    }
  }
}