.main {
	display: flex;
	flex-direction: column;
	text-align: center;
	min-height: calc(100vh - 333px);
}

.title {
	div{
		font-weight: bold;
		font-size: 288px;
		margin-top: 169px;
	}
	p {
		margin-top:0;
		font-size: 36px;
	}
}

.link {
	text-decoration: underline;
	margin-top: 182px;
}

@media screen and (max-width: 390px) {
	.main {
		justify-content: center;
	}
	.title {
		div{
			font-weight: 600;
			font-size: 96px;
			margin-bottom: 0;
		}
		p {
			margin-bottom: 133px;
			font-size: 18px;
			width: 276px;
			padding-left: 40px;
		}
	}
	.link {
		margin-top: 10px;
	}
}
