footer {
  margin-top: 20px;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.main {
  height: 209px;
  composes: allCenter from "../../style/index.scss";
  flex-direction: column;
  font-size: medium;
  background-color: black;
  color: white;
  img {
    margin-bottom: 30px;
  }
}
