footer{
    display: flex;
    flex-wrap: wrap;
    align-content:space-around;
    justify-content: center;
    height: 209px;
    font-size: medium;
    background-color: black;
    color: white;
      img{
        width: 100%;
      }
  }