$smallBanner: 111px;
$bigBanner: 223px;
//mixin
@mixin Banner($img, $height) {
  margin: auto 100px;
  height: $height;
  background-image: url($img);
  background-position: center;
  background-size: cover;
  composes: bigRadius from "../../style/index.scss";
}

//
.home {
  @include Banner("../../assets/home-banner.png", $bigBanner);
  composes: allCenter from "../../style/index.scss";
  p {
    color: white;
    font-size: 48px;
  }
}

.about {
  @include Banner("../../assets/about-banner.png", $bigBanner);
}
