.banner {
	composes: allCenter from "../../style/index.scss";
	composes: bigRadius from "../../style/index.scss";
	height: 223px;
	background-position: center;
	background-size: cover;
}
.overlay {
	composes: allCenter from "../../style/index.scss";
	composes: bigRadius from "../../style/index.scss";
	z-index: 1;
	width: 100%;
	height: 223px;
	background-color: rgba(128, 128, 128, 0.5);
}
.text {
	color: white;
	font-size: 48px;
}

@media only screen and (max-width: 390px) {
	.banner {
		height: 112px;
		border-radius: 10px;
	}
	.overlay {
		height: 112px;
		border-radius: 10px;
		justify-content: flex-start;
	}
	.text {
		color: white;
		font-size: 24px;
		width: 217px;
		margin-left: 20px;
	}
}
